<ion-view view-title="{{ 'shop.title_shop_search' | i18n }}">

  <ion-content has-subheader>
    <item-search></item-search>
    <div class="mysegment" ng-hide="checking">
      <ion-segment class="search-segment" ng-model="categories" full="true" assertive>
        <ion-segment-button value="nearby">
          <i class="ion-android-locate"></i>
          <span>{{'shop.item_tabs_near' | i18n}}</span>
        </ion-segment-button>
        <ion-segment-button value="category" ng-click="pickedOption('category');resetOption();">
          <i class="ion-ios-list-outline"></i>
          <span>{{'shop.item_tabs_cate' | i18n}}</span>
        </ion-segment-button>
        <ion-segment-button value="city" ng-click="pickedOption('city');resetOption();">
          <i class="ion-ios-location-outline"></i>
          <span>{{'shop.item_tabs_city' | i18n}}</span>
        </ion-segment-button>
      </ion-segment>
      <a ng-switch="categories">
        <ion-list ng-switch-when="nearby">
          <ion-item style="background-color: #f7f7f7;" ng-init="init()">
            <div id="map" data-tap-disabled="true" style="height: 300px;"></div>
            <div ng-repeat="user in store">
              <a href="#/app/menu/shop/user/{{user.user_id}}" style="display: flex; border: 1px solid #03c320; border-radius: 5px;margin: 10px;" ng-repeat="user in store">
                <div
                  style="border-right: solid 1px lightgrey;width: 75%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;padding-top: 10px;">
                  <span><img style="width: 8%;"
                             src="http://24gocheck.com/image/catalog/24gocheck%20Icons/usersale.png"/> <span
                    ng-bind-html="user.company || user.fullname"></span></span><br>
                  <span><img style="width: 8%;"
                             src="http://24gocheck.com/image/catalog/24gocheck%20Icons/location_icon.png"/> {{user['address']}}</span><br>
                  <span><img style="width: 8%;"
                             src="http://24gocheck.com/image/catalog/24gocheck%20Icons/phone_icon.png"/> {{user['phone']}}</span><br>
                  <ionic-ratings class="col-33" style="font-size: 16px; white-space: nowrap"
                                 ratingsobj="{rating : item.rating, readOnly : true,iconOn: 'ion-ios-star',
                                 iconOff: 'ion-ios-star-outline', minRating : 1,iconOnColor: '#FEBA19', iconOffColor: 'rgb(255, 204, 0)'}"></ionic-ratings>
                </div>
                <div style="padding-top: 13%; padding-left: 4%;">
                  <!--<span>{{user['D'].round()}}km</span>-->
                  <span>{{user['D']}}km</span>
                </div>
              </a>

          </ion-item>
        </ion-list>
        <ion-list ng-switch-when="category">
          <ion-item style="background-color: #f7f7f7;">
            <div class="list">
              <!--<label class="item item-input item-select">-->
              <!--<div class="input-label">-->
              <!--{{'shop.item_tabs_cate' | i18n}}-->
              <!--</div>-->
              <!--<category-list thumbnail="false" mode="options" selected-category="selectedCategory"></category-list>-->
              <!--</label>-->

              <label class="item item-input item-select">
                <div class="input-label" i18n="shop.title_category"></div>
                <select ng-model="selectedCat" ng-change="resetOption();changeCategory(selectedCat);">
                  <option ng-repeat="category in cates"
                          ng-selected="selectedCat == category.category_id"
                          ng-value="category.category_id" ng-bind-html="category.name.slice(0, -4)">
                  </option>
                </select>
              </label>
              <!--<p>Selected Category {{selectedCat}}</p>-->
            </div>
            <div class="list">
              <ion-item ng-repeat="item in items">
                <item-template item="item"></item-template>
              </ion-item>
              <ion-infinite-scroll ng-if="!endOfItems" on-infinite="loadNextPage()" distance="1%"></ion-infinite-scroll>
            </div>
          </ion-item>


        </ion-list>
        <ion-list ng-switch-when="city">
          <ion-item>
            <div class="list">
              <!--<label class="item item-input item-select">-->
              <!--<div class="input-label">-->
              <!--{{'shop.item_tabs_city' | i18n}}-->
              <!--</div>-->
              <!--<select>-->
              <!--<option selected>{{'shop.item_tabs_city' | i18n}}</option>-->
              <!--<option>Hà Nội</option>-->
              <!--<option>Đà Nẵng</option>-->
              <!--<option>TP Hồ Chí Minh</option>-->
              <!--</select>-->
              <!--</label>-->
              <label class="item item-input item-select" style="border-radius: 5px; margin-bottom: 5px;">
                <div class="input-label" i18n="modals.register_country"></div>
                <select ng-model="register.country_id" ng-init="search.country_id = '230'" ng-change="countryChanged()"
                        name="country_id" required disabled>
                  <option value="{{::country.country_id}}" ng-selected="country.country_id == register.country_id"
                          ng-repeat="country in countries">{{::country.name}}
                  </option>
                </select>
              </label>
              <label class="item item-input item-select" style="border-radius: 5px">
                <div class="input-label" i18n="modals.register_region"></div>
                <select ng-model="zone_id" name="zone_id" required ng-init="countryChanged();"
                        ng-change="resetOption();changeZone(zone_id);">
                  <option value="{{::zone.zone_id}}" ng-selected="zone.zone_id == search.zone_id"
                          ng-repeat="zone in zones">
                    {{::zone.name}}
                  </option>
                </select>
              </label>
            </div>
            <div class="list">
              <ion-item ng-repeat="item in items">
                <item-template item="item"></item-template>
              </ion-item>
              <ion-infinite-scroll ng-if="!endOfItems" on-infinite="loadNextPage()" distance="1%"></ion-infinite-scroll>
            </div>
          </ion-item>
        </ion-list>
    </div>
    </div>
  </ion-content>
</ion-view>
