<ion-view view-title="{{ 'shop.title_user_product' | i18n }}">
  <ion-content>

    <ion-slide-box id="item-elastic-header">
      <ion-slide>
        <div style="width: 100%;"><img style="width: 80%" preload-image src="{{user_info.badge1}}"
                                       default-image="app/shop/images/placeholder.png"
                                       fallback-image="app/shop/images/placeholder.png"/>
        </div>
      </ion-slide>
      <ion-slide>
        <div style="width: 100%;"><img style="width: 80%" preload-image src="{{user_info.badge2}}"
                                       default-image="app/shop/images/placeholder.png"
                                       fallback-image="app/shop/images/placeholder.png"/>
        </div>
      </ion-slide>
      <ion-slide>
        <div style="width: 100%;"><img style="width: 80%" preload-image src="{{user_info.badge3}}"
                                       default-image="app/shop/images/placeholder.png"
                                       fallback-image="app/shop/images/placeholder.png"/>
        </div>
      </ion-slide>
      <ion-slide>
        <div style="width: 100%;"><img style="width: 80%" preload-image src="{{user_info.badge4}}"
                                       default-image="app/shop/images/placeholder.png"
                                       fallback-image="app/shop/images/placeholder.png"/>
        </div>
      </ion-slide>
      <ion-slide>
        <div style="width: 100%;"><img style="width: 80%" preload-image src="{{user_info.badge5}}"
                                       default-image="app/shop/images/placeholder.png"
                                       fallback-image="app/shop/images/placeholder.png"/>
        </div>
      </ion-slide>

      <!--<ion-slide ng-repeat="image in item.images">-->
        <!--<div style="width: 100%;"><img style="width: 80%" preload-image src="{{image.popup}}"-->
                                       <!--default-image="app/shop/images/placeholder.png"-->
                                       <!--fallback-image="app/shop/images/placeholder.png"/>-->
        <!--</div>-->
      <!--</ion-slide>-->
    </ion-slide-box>

    <div style="padding-left: 10px; padding-right: 10px; margin:10px;">
      <!--<h2>Tên Gian Hàng</h2>-->
      <p><img class="img-icon" src="http://24gocheck.com/image/catalog/24gocheck%20Icons/usersale.png"/> {{user_info.fullname}}</p>
      <p><img class="img-icon" src="http://24gocheck.com/image/catalog/24gocheck%20Icons/phone_icon.png"/> {{user_info.phone}}</p>
      <p><img class="img-icon" src="http://24gocheck.com/image/catalog/24gocheck%20Icons/location_icon.png"/>{{user_info.address1}} </p>
      <p><img class="img-icon" src="http://24gocheck.com/image/catalog/24gocheck%20Icons/envelop_icon.png"/>{{user_info.email}} </p>
      <p><img class="img-icon" src="http://24gocheck.com/image/catalog/24gocheck%20Icons/facebook_icon.png"/> </p>
    </div>

    <div style="padding:0 10px">
      <h2 style="font-size: 18px;">{{'shop.item_shop_description' | i18n}}</h2>
      <div ng-bind-html="item.description"></div>
    </div>

    <div class="navigation-buttons" style="display: inline-flex; width: 100%; margin-top: 10px; margin-bottom: 10px;"
         ng-class="{'bar-assertive':shop.shopItemForm.$invalid, 'bar-positive':shop.shopItemForm.$valid}">
      <div class="buttons-detail">
        <button style="background-color: #FA3E16; color: whitesmoke;"
                class="button-details-product icon ion-ios-paper-outline"
                i18n="shop.item_view_product"></button>
      </div>
      <a
        style="background-color:#5A87FF; color: whitesmoke; width: 30%; border-radius: 5px; padding-top: 2px; margin-left: 2px; margin-right: 10px;"
        href="tel: {{item.telephone}}" class="button-details-product">
        <span class="icon ion-android-call" i18n="shop.item_button_call"></span>
      </a>

      <a style="background-color:#27FD6A; color: whitesmoke; width: 30%; border-radius: 5px; padding-top: 2px;"
         href="#/app/menu/shop/review/{{id}}" class="button-details-product">
        <span class="icon ion-chatbox-working" i18n="shop.item_button_review"></span>
      </a>

      <!--Tab Review-->
      <ion-tab hidden="true" href="#/app/menu/shop/review/{{id}}" icon-off="ion-ios-compose-outline"
               icon-on="ion-ios-compose-outline">
        <ion-nav-view name="tab-review">
          <ion-content class="has-sub-tabs-top">
            <item-rating item="item" ng-if="item.review_status"></item-rating>
          </ion-content>
        </ion-nav-view>
      </ion-tab>

    </div>

    <!--<ion-refresher pulling-text="Pull to refresh" on-refresh="refreshUI()"></ion-refresher>-->

    <!--<div class="item item-divider item-button-right">-->
      <!--<span i18n="shop.info_user_product"></span>-->
      <!--<button class="button button-stable button-outline button-no-outline" ng-click="grid_mode = !grid_mode">-->
        <!--<i class="icon" ng-class="{'ion-ios-grid-view-outline' : grid_mode, 'ion-ios-list-outline': !grid_mode}"></i>-->
      <!--</button>-->
    <!--</div>-->

    <!--<div class="recent-items-list" ng-class="{'row grid_mode' : grid_mode, 'list': !grid_mode}">-->
      <!--<div class="item" ng-repeat="item in items"  ng-class="{'col-50' : grid_mode}" >-->
        <!--<div class="product-image-wrapper" ng-click="showoverlay = !showoverlay">-->
          <!--<div ng-if="showoverlay" style="opacity: .5;">-->
            <!--<div class="row">-->
              <!--<a analytics-click="Product" href="#/app/menu/shop/item/{{::item.product_id}}" class="col-50 button button-full button-positive button-outline" style="border-color: #FFFFFF; background: 0 0;-->
    <!--color: #FFFFFF; font-size: 13px;">-->
                <!--<i class="icon ion-ios-eye-outline"></i>  {{ 'shop.item_view_button' | i18n }}-->
              <!--</a>-->
              <!--<button style="border-color: #FFFFFF; background: 0 0; color: #FFFFFF; font-size: 13px;" analytics-click="Wishlist" data-product-name="{{item.name}}" class="col-50 button button-full button-clear button-outline" ng-click="addToWishlist(item.product_id)">-->
                <!--<i class="icon ion-ios-heart-outline"></i> {{ 'shop.item_add_to_wishlist_button' | i18n }}-->
              <!--</button>-->
            <!--</div>-->
          <!--</div>-->
          <!--<img preload-image class="full-image" ng-src="{{item.thumb}}" default-image="app/shop/images/placeholder.png" fallback-image="app/shop/images/placeholder.png" />-->
        <!--</div>-->
        <!--<div ng-click="showoverlay = !showoverlay" style="background-color: white;">-->
          <!--<h2 ng-bind-html="item.name" style="padding: 7px 0 0 10px; margin-top: 4px;"></h2>-->
          <!--<span class="badge badge-assertive" ng-if="item.off" i18n="shop.off" data-percent="{{item.off}}"></span>-->
          <!--<div class="row">-->
            <!--<div class="col item-price-view" style="text-align: inherit;">-->
              <!--<span ng-if="item.special">{{::item.special}}</span>-->
              <!--<span style="color:#ff5c00;" ng-class="{'has-special' : item.special}" ng-show="item.price == '0 VND'">{{ 'shop.view_detail' | i18n}}</span>-->
              <!--<span style="color:#ff5c00;" ng-class="{'has-special' : item.special}" ng-show="item.price != '0 VND'">{{::item.price}}</span>-->
              <!--<span ng-if="item.special != item.mobile_special && item.mobile_special" class="mobile-offer-item">-->
                <!--<i class="icon ion-iphone"></i> {{::item.mobile_special}}-->
            <!--</span>-->
            <!--</div>-->
            <!--<div class="col item-ratings">-->
              <!--<ionic-ratings style="font-size: 85%;" class="text-right" ratingsobj="{rating : item.rating, readOnly : true,iconOn: 'ion-ios-star', iconOff: 'ion-ios-star-outline', minRating : 1,iconOnColor: '#FEBA19', iconOffColor: 'rgb(255, 204, 0)'}"></ionic-ratings>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<ion-infinite-scroll ng-if="!endOfItems" on-infinite="loadNextPage()" distance="1%"></ion-infinite-scroll>-->
    <!--</div>-->





    <div class="item item-divider item-button-right">
      <span ng-bind-html="category_name"></span>
      <button class="button button-stable button-outline button-no-outline" ng-click="grid_mode = !grid_mode">
        <i class="icon" ng-class="{'ion-ios-grid-view-outline' : grid_mode, 'ion-ios-list-outline': !grid_mode}"></i>
      </button>
    </div>


    <div class="recent-items-list" ng-class="{'row grid_mode' : grid_mode, 'list': !grid_mode}">
      <div class="item" ng-repeat="item in items" ng-class="{'col-50' : grid_mode}">
        <item-template item="item" mode="3"></item-template>
      </div>
      <ion-item ng-if="items.length < 1">{{text_empty}}</ion-item>
      <ion-infinite-scroll ng-if="!endOfItems" on-infinite="loadNextPage()" distance="1%"></ion-infinite-scroll>
    </div>
  </ion-content>
</ion-view>
