<ion-view view-title="{{ 'notification.title_notification_home' | i18n }}">

  <ion-content style="padding: 10px;">

    <ion-segment style="padding: 0 70px" class="noti-segment" ng-model="categories" full="true" assertive>
      <ion-segment-button value="event">
        <span>{{'notification.title_notification_event' | i18n}}</span>
      </ion-segment-button>
      <ion-segment-button value="own">
        <span>{{'notification.title_notification_own' | i18n}}</span>
      </ion-segment-button>
    </ion-segment>

    <div ng-switch="categories">
      <ion-list ng-switch-when="event">
        <ion-item style="background-color: #f7f7f7; border: none;">
          <div class="large-icon-message">
            <span style="border-radius: 50%; opacity: .5;width: 200px; height: 200px;padding-top: 2%; font-size: 160px;"
                  class="large-app-icon large-app-icon-green">
                <i class="icon ion-ios-bell-outline"></i>
            </span>
            <p style="font-size: 16px; color: #45e11b;" i18n="notification.empty_message"></p>
          </div>
          <div style="text-align: left; display: flex;border-radius: 5px; border: 1px solid dimgray;" ng-repeat="item in user_notifications">
            <img class="shop-detail-image"
                 src="???"
                 default-image="app/shop/images/placeholder.png"
                 fallback-image="app/shop/images/placeholder.png" style="width: 25%;"/>
            <div style="float: right; width: 75%;">
              <h3 style="padding-left: 5px;"><i class="icon ion-ios-bookmarks-outline"> {{item.title}}</i></h3><!---->
              <p style="padding-left: 5px;"><i class="icon ion-ios-location-outline"></i> {{item.description}}</p>
              <p style="padding-left: 5px;"><i class="icon ion-ios-alarm-outline"></i> {{item.time}}</p>
            </div>
          </div>
          <!--<button ng-click="shika()">Click</button>-->
          <!--<button ng-click="show()">Show</button>-->
        </ion-item>
      </ion-list>
      <ion-list ng-switch-when="own">
        <ion-item style="background-color: #f7f7f7; border: none;">
          <div class="large-icon-message">
            <span style="border-radius: 50%; opacity: .5;width: 200px; height: 200px;padding-top: 5%; font-size: 160px;"
                  class="large-app-icon large-app-icon-green">
                <i class="icon ion-ios-bell-outline"></i>
            </span>
            <p style="font-size: 16px; color: #45e11b;" i18n="notification.empty_message"></p>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
