<a analytics-click="Product" href="#/app/menu/shop/item/{{::item.product_id}}" class="item-template-link">
  <img preload-image class="full-image" ng-src="{{item.thumb}}" default-image="app/shop/images/placeholder.png"
       fallback-image="app/shop/images/placeholder.png"/>
  <h2 ng-bind-html="item.name"></h2>
  <span style="color:#FF4635;" ng-class="{'has-special' : item.special}">{{::item.price}}</span>
  <span ng-if="item.special != item.mobile_special && item.mobile_special" class="mobile-offer-item">
            <i class="icon ion-iphone"></i> {{::item.mobile_special}}
        </span>
  <span class="badge badge-assertive" ng-if="item.off" i18n="shop.off" data-percent="{{item.off}}"></span>
  <!--<p class="product-description" ng-bind-html="item.description"></p>-->

</a>
<div class="row">
  <h2 ng-bind-html="item.shopName"></h2>
  <div class="col" style="display: inline-block">
    <ionic-ratings class="col-33 item-ratings" ratingsobj="{rating : item.rating, readOnly : true,iconOn: 'ion-ios-star', iconOff: 'ion-ios-star-outline', minRating : 1,iconOnColor: '#FEBA19', iconOffColor: 'rgb(255, 204, 0)'}"></ionic-ratings>
    <!--<button analytics-click="Wishlist" data-product-name="{{item.name}}"-->
            <!--class="col-20 button button-full button-clear item-price-button" style="margin-top: -10px; float: right;" ng-click="addToWishlist(item.product_id)">-->
      <!--<i class="icon ion-ios-heart-outline">14</i>-->
    <!--</button>-->
  </div>
</div>
