<ion-nav-bar class="bar-royal">
  <ion-nav-back-button></ion-nav-back-button>
</ion-nav-bar>
<ion-tabs class="tabs-icon-top tabs-color-active-standard tabs-royal">
  <ion-tab title="{{ 'Trang chủ' }}" icon-off="ion-ios-home-outline" icon-on="ion-ios-home-outline" href="#/app/menu/shop/home">
    <ion-nav-view name="tab-shop"></ion-nav-view>
  </ion-tab>
  <ion-tab title="{{ 'Tìm kiếm' }}" icon-off="ion-paper-airplane" icon-on="ion-paper-airplane" href="#/app/menu/shop/search">
    <ion-nav-view name="tab-offers"></ion-nav-view>
  </ion-tab>
  <ion-tab title="{{ '' | i18n }}" icon-off="ion-plus-round" icon-on="ion-plus-round" badge="cartItemCount" badge-style="badge-clear" href="#/app/menu/cart/home">
    <ion-nav-view name="tab-cart"></ion-nav-view>
  </ion-tab>

  <ion-tab title="{{ 'Thông báo' | i18n }}" icon-off="ion-android-notifications-none" icon-on="ion-android-notifications-none"
           badge="cartItemCount" badge-style="badge-clear" href="#/app/menu/cart/home">
    <ion-nav-view name="tab-cart"></ion-nav-view>
  </ion-tab>

  <ion-tab title="{{ 'Tài khoản' | i18n }}" icon-off="ion-ios-person-outline" icon-on="ion-ios-person-outline" href="#/app/menu/info/home">
    <ion-nav-view name="tab-info"></ion-nav-view>
  </ion-tab>
</ion-tabs>
