<ion-view view-title="{{'info.buttons_order_manage' | i18n}}">
  <ion-content>
    <div class="list" style="margin-left: 2%;margin-right: 2%;margin-top: 2%;">
      <div style="width: 100%;background-color: white">
        <div style="border-bottom:solid 1px gray; margin-left: 2%; margin-right: 2%;font-size: 14px;display: flow-root;">
          <span style="float: left;font-size: 16px;"><strong>order code</strong></span>
          <span style="float: right;">order date</span>
        </div>
        <div style="padding-right: 2%; padding-left: 2%;display: flex;  ">
            <div style="width: 50%;">
              <span i18n="info.total"></span><br/>
              <span>Price</span>
            </div>
            <div style="width: 30%;">

            </div>
            <div style="width: 50%;">
              <span style="float: right">Order Status</span>
            </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
