<ion-view view-title="{{'info.title_info_favorite' | i18n}}">
  <!--<ion-tabs class="tabs-top tabs-dark">-->
  <!--<ion-tab title="Shops" icon="" ui-sref="app.menu.info.favorite.favorite-shops">-->
  <!--<ion-nav-view name="shops-tab"></ion-nav-view>-->
  <!--</ion-tab>-->
  <!--<ion-tab title="Products" icon="" ui-sref="app.menu.info.favorite.favorite-products">-->
  <!--<ion-nav-view name="products-tab"></ion-nav-view>-->
  <!--</ion-tab>-->
  <!--</ion-tabs>-->

  <ion-content>

    <ion-segment class="favorites-segment" ng-model="categories" full="true" assertive>
      <ion-segment-button value="shopstab">
        <span i18n="info.shops"></span>
      </ion-segment-button>
      <ion-segment-button value="productstab">
        <span i18n="info.products"></span>
      </ion-segment-button>
    </ion-segment>

    <div ng-switch="categories">
      <ion-list ng-switch-when="shopstab">
        <ion-item style="background-color: #f7f7f7;">
          <div class="list">

            <div ng-repeat="item in data.latestItems" class="item-product" style="margin-bottom: 10px; border-radius: 5px;">
              <div class="product-image-wrapper" ng-click="showoverlay = !showoverlay">
                <div ng-if="showoverlay" style="opacity: .5;">
                  <div class="row">
                    <a analytics-click="Product" href="#/app/menu/shop/item/{{::item.product_id}}" class="col-50 button button-full button-positive button-outline" style="border-color: #FFFFFF; background: 0 0;
    color: #FFFFFF;">
                      <i class="icon ion-ios-eye-outline"></i>  {{ 'shop.item_view_button' | i18n }}
                    </a>
                    <button style="border-color: #FFFFFF; background: 0 0; color: #FFFFFF;" analytics-click="Wishlist" data-product-name="{{item.name}}" class="col-50 button button-full button-clear button-outline" ng-click="addToWishlist(item.product_id)">
                      <i class="icon ion-ios-heart-outline"></i> {{ 'shop.item_add_to_wishlist_button' | i18n }}
                    </button>
                  </div>
                </div>
                <img preload-image class="full-image" ng-src="{{item.thumb}}" default-image="app/shop/images/placeholder.png" fallback-image="app/shop/images/placeholder.png" />
              </div>
              <div ng-click="showoverlay = !showoverlay" style="background-color: white;">
                <h2 ng-bind-html="item.name" style="padding: 7px 0 2px  10px; margin-top: 4px;"></h2>
                <span class="badge badge-assertive" ng-if="item.off" i18n="shop.off" data-percent="{{item.off}}"></span>
                <div class="row">
                  <div class="col item-price-view" style="text-align: inherit;">
                    <span ng-if="item.special">{{::item.special}}</span>
                    <span style="color:#ff5c00; font-size: 85%;" ng-class="{'has-special' : item.special}" ng-show="item.price == '0 VND'">{{ 'shop.view_detail' | i18n}}</span>
                    <span style="color:#ff5c00; font-size: 85%;" ng-class="{'has-special' : item.special}" ng-show="item.price != '0 VND'">{{::item.price}}</span>
                    <span ng-if="item.special != item.mobile_special && item.mobile_special" class="mobile-offer-item">
                <i class="icon ion-iphone"></i> {{::item.mobile_special}}
            </span>
                  </div>
                  <div class="col item-ratings">
                    <ionic-ratings style="font-size: 85%;" class="text-right" ratingsobj="{rating : item.rating, readOnly : true,iconOn: 'ion-ios-star', iconOff: 'ion-ios-star-outline', minRating : 1,iconOnColor: '#FEBA19', iconOffColor: 'rgb(255, 204, 0)'}"></ionic-ratings>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-item>
      </ion-list>
      <ion-list ng-switch-when="productstab">
        <ion-item style="background-color: #f7f7f7;">
          <div class="list">

            <div ng-repeat="item in data.latestItems" class="item-product" style="margin-bottom: 10px; border-radius: 5px;">
              <div class="product-image-wrapper" ng-click="showoverlay = !showoverlay">
                <div ng-if="showoverlay" style="opacity: .5;">
                  <div class="row">
                    <a analytics-click="Product" href="#/app/menu/shop/item/{{::item.product_id}}" class="col-50 button button-full button-positive button-outline" style="border-color: #FFFFFF; background: 0 0;
    color: #FFFFFF;">
                      <i class="icon ion-ios-eye-outline"></i>  {{ 'shop.item_view_button' | i18n }}
                    </a>
                    <button style="border-color: #FFFFFF; background: 0 0; color: #FFFFFF;" analytics-click="Wishlist" data-product-name="{{item.name}}" class="col-50 button button-full button-clear button-outline" ng-click="addToWishlist(item.product_id)">
                      <i class="icon ion-ios-heart-outline"></i> {{ 'shop.item_add_to_wishlist_button' | i18n }}
                    </button>
                  </div>
                </div>
                <img preload-image class="full-image" ng-src="{{item.thumb}}" default-image="app/shop/images/placeholder.png" fallback-image="app/shop/images/placeholder.png" />
              </div>
              <div ng-click="showoverlay = !showoverlay" style="background-color: white;">
                <h2 ng-bind-html="item.name" style="padding: 7px 0 2px  10px; margin-top: 4px;"></h2>
                <span class="badge badge-assertive" ng-if="item.off" i18n="shop.off" data-percent="{{item.off}}"></span>
                <div class="row">
                  <div class="col item-price-view" style="text-align: inherit;">
                    <span ng-if="item.special">{{::item.special}}</span>
                    <span style="color:#ff5c00; font-size: 85%;" ng-class="{'has-special' : item.special}" ng-show="item.price == '0 VND'">{{ 'shop.view_detail' | i18n}}</span>
                    <span style="color:#ff5c00; font-size: 85%;" ng-class="{'has-special' : item.special}" ng-show="item.price != '0 VND'">{{::item.price}}</span>
                    <span ng-if="item.special != item.mobile_special && item.mobile_special" class="mobile-offer-item">
                <i class="icon ion-iphone"></i> {{::item.mobile_special}}
            </span>
                  </div>
                  <div class="col item-ratings">
                    <ionic-ratings style="font-size: 85%;" class="text-right" ratingsobj="{rating : item.rating, readOnly : true,iconOn: 'ion-ios-star', iconOff: 'ion-ios-star-outline', minRating : 1,iconOnColor: '#FEBA19', iconOffColor: 'rgb(255, 204, 0)'}"></ionic-ratings>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>

  </ion-content>
</ion-view>
