<ion-view view-title="{{ 'info.title_info_feedback' | i18n }}">
  <ion-content>
    <div class="list list-inset" ng-if="userLoggedIn()">
      <form name="feedbackForm" ng-submit="postReplyData()">
        <span class="input-label"  data-i18n="modals.feedback_title" ></span>
        <label class="item item-input">
          <input type="text" name="title" ng-model="feedback.title" required>
        </label>

        <span class="input-label"  data-i18n="modals.feedback_rate" ></span>
        <div class="item range range-positive">
          <i class="icon"><p>1</p></i>
          <input type="range" name="rate" ng-model="feedback.rate" required min="1" max="5" value="3">
          <i class="icon"><p>5</p></i>
        </div>

        <span class="input-label"  data-i18n="modals.feedback_description" ></span>
        <label class="item item-input">
          <textarea name="description" ng-model="feedback.description" required></textarea>
        </label>

        <div class="text-center">
          <button type="submit" id="reply_button" class="button button-block button-positive" ng-class="{'button-outline' : replyForm.$invalid}" ng-disabled="replyForm.$invalid" i18n="modals.button_feedback"></button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
