<ion-view view-title="{{'info.buttons_tutorial' | i18n}}">
  <ion-content>
    <div class="list">
      <!--<ion-toggle ng-show="user.customer_id == '26' ? true : false" class="item item-icon-left" ng-model="info.open_close_shop" ng-checked="info.open_close_shop" ng-true-value="'Mở'" ng-false-value="'Đóng'" toggle-class="toggle-calm"><i class="icon ion-ios-toggle-outline"></i>-->
        <!--<span i18n="info.buttons_open_close_shop"></span>-->
      <!--<p>{{info.open_close_shop}}</p>-->
      <!--</ion-toggle>-->
      <!--<a class="item item-icon-right" href="#/app/menu/info/edit-shop-info">-->
        <!--<i class="icon ion-ios-arrow-right"></i>-->
        <!--<span i18n="info.buttons_edit_shop_info"></span>-->
      <!--</a>-->
      <a class="item item-icon-right" href="#/app/menu/info/view-product">
        <i class="icon ion-ios-arrow-right"></i>
        <span i18n="info.buttons_view_product"></span>
      </a>
      <a class="item item-icon-right" href="#/app/menu/info/add-new-product">
        <i class="icon ion-ios-arrow-right"></i>
        <span i18n="info.buttons_add_new_product"></span>
      </a>
      <a class="item item-icon-right" href="#/app/menu/info/order-manage">
        <i class="icon ion-ios-arrow-right"></i>
        <span i18n="info.buttons_order_manage"></span>
      </a>
    </div>
  </ion-content>
</ion-view>
