<ion-view view-title="Favorite Products">

  <ion-content>
    <div class="list" style="padding: 4%;">

      <div ng-repeat="n in [1,2,3,4,5,6]" class="item" style="margin-bottom: 10px; border-radius: 5px;">

        <a class="row" href="#" style="height: 120px;">
          <div class="col-33">
            <img src="https://tea-2.lozi.vn/v1/images/resized/hamburger-75890-1392803629?w=320&type=s" style="width: 100%;">
          </div>
          <div class="col-67" style="text-align: left; padding: 0 1em;">
            <h3 style="margin-bottom: 64px;">Hambureger</h3>

            <p><span class="icon ion-ios-location-outline"></span> 69 Nguyễn Ngọc Vũ, P.Trung Hòa blablah</p>

          </div>
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>
