/*@import "./scss/custom.home.css";*/
@import "custom.menu.css";
@import "custom.categories.slide.css";
@import "custom.segment.css";
@import "custom.search-bar.css";
/*HOMEPAGE CUSTOM STSYLE*/
/*==============================================================================*/

/*.ion-ios-star:before {*/
  /*!*content: none;*!*/
  /*background-repeat: no-repeat;*/
  /*background-image: url('http://24gocheck.com/image/cache/catalog/24gocheck%20Icons/star-gold-100x100.png');*/
/*}*/

/*.ion-ios-star-outline:before {*/
  /*!*content: none;*!*/
  /*background-repeat: no-repeat;*/
  /*background-image: url('http://24gocheck.com/image/cache/catalog/24gocheck%20Icons/star-white-100x100.png');*/
/*}*/

.icon-star-white {
  background-repeat: no-repeat;
  background-image: url('http://24gocheck.com/image/cache/catalog/24gocheck%20Icons/star-white-100x100.png');
}
.icon-star-yellow {
  background-repeat: no-repeat;
  background-image: url('http://24gocheck.com/image/cache/catalog/24gocheck%20Icons/star-gold-100x100.png');
}
.ion-ios-compose-outline {
  display: none;
}
.bar.bar-positive {
  background-color: #03c320;
}
.bar-positive .button {
  background-color: #03c320;
}

.button.button-positive {
  background-color: #03c320;
}

.bar-positive .button.activated {
  background-color: #03c320;
}
.button.activated {
  background-color: #03c320;
}
.bar-assertive .button.activated {
  border-color: #03c320;
  background-color: #03c320;
}


.item-divider {
  border-top: 5px solid #cfced3;
}
.pane {
  background-color: #f7f7f7;
}
.scroll .row.home-category-grid-icons {
  padding-top: 15px;
  padding-bottom: 15px;
}
/*STYLE FOR HEADER*/

.title.title-center.header-item {
  left:0;
  right:0;
}

.header-logo {
  position: relative;
  width: 100%;
}

.header-logo img{
  height: 25px;
  width: 110px;
  margin-top: 10px;
}

.bar-royal.bar.bar-header .buttons.buttons-right .right-buttons {
  margin-left: inherit;
}
.bar-royal.bar.bar-header .buttons.buttons-right .button.button {
  background-color: #03c320;
}
.bar-royal.bar.bar-header {
  background-color: #03c320;
}

.buttons.buttons-right .icon.ion-ios-search:before {
  padding-right: 2px;
  padding-left: 2px;
  font-size: 25px;
  line-height: 32px;
  font-weight: bold;
}
.buttons.buttons-right .button.ion-chatbubble-working:before {
  font-size: 30px;
  line-height: 39px;
  font-weight: bold;
  position: relative;
  bottom: 3px;
}
.icon.ion-ios-search:before {
  color: #ffffff;
}
.right-buttons .button.button-positive.button-outline {
  border-color: #03c320;
}
/*STYLE FOR CONTENT*/
.logo-icon {
  position: relative;
}
.logo-icon img {
  margin: 0 auto;
  position: absolute;
  top: 7px;
  left: 111px;
  height: 25px;
  width: 110px;
}
.item.item-divider.newproduct {
  border-top: 2px solid #d0d0d0;
  font-weight: 400;
  font-size: 17px;
  background: #f7f7f7;
  color: #252525;
  padding-top: 10px;
  padding-bottom: 2px;
}
.scroll .row.home-category-grid-icons {
  padding: 0px;
}

.scroll .row.home-category-grid-icons>a {
  border-right: inherit;
  border-left: inherit;
  border-top: inherit;
}
.row.home-category-grid-icons {
  border-bottom: none;
}
.tabs.tabs-top {
  background: #e8e8e8;
  height: 65px;
  position: relative;
  top: 0px;
}

.suggest {
  display: flex;
  justify-content: center;
  height: 73px;
  border-bottom: 2px solid #d0d0d0;
}

.suggest img{
  display: block;
  border-radius: 50%;
  background: #ddd;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}


.suggest a{
  padding-top: 15px;
  padding-bottom: 5px;
  text-align: center;

}
.suggest.promotion {
}
.suggest span {
  font-size: 12px;
}
.suggest i:before {
  font-size: 30px;
  padding-top: 13px;
  font-weight:bold;
}

.item-promition {
  width: 100px;
  height: 30px;
  border-right: 1px solid #d0d0d0;
  border-style: ridge;
}

.item-topproduct {
  width: 100px;
  height: 30px;
  border-right: 1px solid #d0d0d0;
  border-style: ridge;
}

.item-trend {
  width: 100px;
  height: 30px;
}

/*CONTENT ITEM*/
.recent-items-list.row.grid_mode {
  padding:10px;
}
.recent-items-list.row.grid_mode .item {
  margin: 0px;
  border: none;
  padding:5px;
}
.item.item-divider {
  border-width: 0px;
}
.item.item-divider.item-button-right {
  border:none;
}
.recent-items-list.list .item {
  border:none;
}
.recent-items-list.row.grid_mode .item img {
  border-radius: 2%;
  padding: 10px;
}


/*STYLE FOR FOOTERBAR*/
.tab-nav.tabs {
  background-color: #f7f7f7;
}
.tab-nav.tabs i {
  color: #515151;
  font-size: 30px;
  padding-top: 3px;
}
.tab-nav.tabs .tab-title.ng-binding {
  color: #515151;
}
.tab-nav.tabs .icon.ion-plus-round {
  border: 1px solid #03c320;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #03c320;
  color: #e8e8e8;
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  margin: 0px auto;
}

.tab-nav.tabs .tab-item {
  opacity: 1;
}

/*STYLE FOR SLIDE*/
.home-slider.slider .slider-slide {
  height: 100%;
  max-height: 175px;
  min-height: 100px;
}

.home-slider .slider-slide img {
  height: 100%;
  max-height: 175px;
  min-height: 100px;
}


.searchTab{
  margin: 0 2%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.badge.badge-assertive, .tabs .tab-item .badge.badge-assertive{
  background-color: #FF9B29;
}

.item-ratings{
  float: left;
  font-size: 16px;
  margin-left: -10px;
}

.grid_mode .item-ratings{
  display: block;
}

.item-product{
  border-color: #ddd;
  background-color: #fff;
  color: #444;
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
}

.item-product p{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.col-35 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 35%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 35%;
  -ms-flex: 0 0 35%;
  flex: 0 0 35%;
  max-width: 35%;
}

.scroll {
  height: 100%;
}

#map {
  width: 100%;
  height: 30%;
}

hr {
  background-color: dimgrey !important;
  color: dimgrey !important;
}

.icon-image{
  border-radius: 50%;
  height: 50px;
  border: solid 1px #4cd964;
  background: #e8e8e8;
  float: left;
  margin-right: 2%;
}

.mobile-offer-items{
  font-size: 10px;
  font-weight: 300!important;
}

.buttons-detail{
  margin: 0 2%;
  width: 30%;
}

.button-details-product{
  width: 100%;
  font-size: 13px;
  border-radius: 5px;
  min-height: 35px;
  border-color: transparent;
  background-color: #f8f8f8;
  color: #444;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 12px;
  min-width: 52px;
  border-width: 1px;
  border-style: solid;
  vertical-align: top;
  text-align: center;
  text-overflow: ellipsis;
  line-height: 30px;
  cursor: pointer;
}

.detail-content{
  margin: 0 2%;
}

.img-icon{
  width: 5%;
}

.recent-items-list.row.grid_mode .list-home{
  margin: 1%;
  padding: 0px;
  border-radius: 10px;
  max-width: 48%;
  background-color: transparent;
}

.recent-items-list.row.grid_mode .item .full-image{
  border-radius: 10px;
  padding: 0;
  margin-bottom: -5px;
  background-color: white;
}


.recent-items-list.row.grid_mode .item .icon-image{
  border-radius: 50%;
  height: 40px;
  border: solid 1px #4cd964;
  background: #e8e8e8;
  float: left;
  margin-right: 2%;
  padding: 0;
}

.detail-item-product{
  background-color: white;
  border-radius: 5px;
}

.recent-items-list.row.grid_mode .item .detail-item-product .icon-image{
  border-radius: 50%;
  height: 23px;
  border: solid 1px #4cd964;
  float: left;
  margin-right: 2%;
  padding: 0;
  margin-top: 5px;
}

.recent-items-list.row.grid_mode .item .detail-item-product div{
  font-size: 90%;
}

.bar.bar-assertive{
  background-color: #03c320;
}

.bar-assertive .button{
  background-color: #03c320;
}

.shop-detail-image{
  width: 20%;
  border-radius: 10px;
}

.recent-items-list.row.grid_mode .item .icon-image{
  border-radius: 50%;
  height: 40px;
  border: solid 1px #4cd964;
  background: #e8e8e8;
  float: left;
  margin-right: 2%;
  padding: 0;
}

.detail-item-product{
  background-color: white;
  border-radius: 5px;
}

.recent-items-list.row.grid_mode .item .detail-item-product .icon-image{
  border-radius: 50%;
  height: 23px;
  border: solid 1px #4cd964;
  float: left;
  margin-right: 2%;
  padding: 0;
  margin-top: 5px;
}

.recent-items-list.row.grid_mode .item .detail-item-product div{
  font-size: 90%;
}

.bar.bar-assertive{
  background-color: #03c320;
}

.bar-assertive .button{
  background-color: #03c320;
}

.shop-detail-image{
  width: 20%;
  border-radius: 10px;
}

.item-notifi {
  border-color: #ddd;
  background-color: #fff;
  color: #444;
  position: relative;
  z-index: 2;
  margin: -1px;
  padding: 0;
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
}

ion-infinite-scroll{
  height: 0px;
}
