/* custom css goes here */
.searchTab ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*height: 20qpx;*/
  overflow: hidden;
  background-color: lightgrey;
}

.searchTab li {
  float: left;
  width: 33%;
  /*height: 100%;*/
}
.searchTab li a {
  display: block;
  color: black;
  text-align: center;
  padding: 2% 2%;
  text-decoration: none;
}

.searchTab li a:hover {
  color: orangered;
}

.searchTab div {
  border: none;
  background-color: lightgrey;
  width: 95%;
  /*height: 100%;*/
}

.searchTab select {
  border: none;
  background-color: lightgrey;
  width: 95%;
  padding: 2% 2%;
  text-align: center;
  text-align-last: center;
  /*height: 100%;*/
}
.searchTab select option {
  text-align: center;
}

.searchTab select option:hover{
  color: #FF9B29;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.badge.badge-assertive, .tabs .tab-item .badge.badge-assertive{
  background-color: #FF9B29;
}

.item-ratings{
  float: left;
  font-size: 20px;
  margin-left: -10px;
}

.grid_mode .item-ratings{
  display: block;
}
