/*@import "./scss/custom.home.css";*/
@import "custom.menu.css";
@import "categories.slide.css";
/*HOMEPAGE CUSTOM STSYLE*/
/*==============================================================================*/
.item-divider {
  border-top: 5px solid #cfced3;
}
.pane {
  background-color: #f7f7f7;
}
.scroll .row.home-category-grid-icons {
  padding-top: 15px;
  padding-bottom: 15px;
}
/*STYLE FOR HEADER*/
.bar-royal.bar.bar-header .buttons.buttons-right .right-buttons {
  margin-left: inherit;
}
.bar-royal.bar.bar-header .buttons.buttons-right .button.button {
  background-color: #8cc63f;
}
.bar-royal.bar.bar-header {
  background-color: #8cc63f;
}

.buttons.buttons-right .icon.ion-ios-search:before {
  padding-right: 2px;
  padding-left: 2px;
  font-size: 25px;
  line-height: 32px;
  font-weight: bold;
}
.buttons.buttons-right .button.ion-chatbubble-working:before {
  font-size: 30px;
  line-height: 39px;
  font-weight: bold;
  position: relative;
  bottom: 3px;
}
.icon.ion-ios-search:before {
  color: #ffffff;
}
.right-buttons .button.button-positive.button-outline {
  border-color: #8cc63f;
}
/*STYLE FOR CONTENT*/
.scroll .row.home-category-grid-icons {
  padding: 0px;
}

.scroll .row.home-category-grid-icons>a {
  border-right: inherit;
  border-left: inherit;
  border-top: inherit;
}
.row.home-category-grid-icons {
  border-bottom: none;
}
.tabs.tabs-top {
  background: #e8e8e8;
  height: 65px;
  position: relative;
  top: 0px;
}

.suggest {
  display: flex;
  justify-content: center;
  height: 104px;
  background: #f7f7f7;

}

.suggest img{
  display: block;
  border-radius: 50%;
  background: #ddd;
  width: 55px;
  height: 55px;
}


.suggest a{
  padding-top: 15px;
  padding-bottom:5px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}
.suggest.promotion {
}
.suggest span {
  font-size: 12px;
}
.suggest i:before {
  font-size: 30px;
  padding-top: 13px;
  font-weight:bold;
}

.ng-dirty.ng-valid.ng-valid-parse {
  display: flex;
  justify-content: center;
}

.ng-dirty.ng-valid.ng-valid-parse li {
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 2.5;
}
.ng-dirty.ng-valid.ng-valid-parse i:before {
  font-size: 25px;

}

/*CONTENT ITEM*/
.recent-items-list.row.grid_mode {
  padding:10px;
}
.recent-items-list.row.grid_mode .item {
  margin: 0px;
  border: none;
  padding:5px;
}
.item.item-divider {
  border-width: 0px;
}
.item.item-divider.item-button-right {
  border:none;
}
.recent-items-list.list .item {
  border:none;
}
.recent-items-list.row.grid_mode .item img {
  border-radius: 2%;
  padding: 10px;
}


/*STYLE FOR FOOTERBAR*/
.tab-nav.tabs {
  background-color: #f7f7f7;
}
.tab-nav.tabs i {
  color: #515151;
  font-size: 30px;
  padding-top: 3px;
}
.tab-nav.tabs .tab-title.ng-binding {
  color: #515151;
}
.tab-nav.tabs .icon.ion-plus-round {
  border: 1px solid #8cc63f;
  width: 69px;
  height: 69px;
  border-radius: 50%;
  background: #8cc63f;
  color: #e8e8e8;
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  margin: 0px auto;
}

.tab-nav.tabs .tab-item {
  opacity: 1;
}
.tab-nav.tabs .icon.ion-plus-round:before{
  font-size: 60px;
}
/*STYLE FOR SLIDE*/
.home-slider.slider .slider-slide {
  height: 200px;
}
.home-slider .slider-slide img {
  height: 200px;
}

.searchTab{
  margin: 0 2%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.badge.badge-assertive, .tabs .tab-item .badge.badge-assertive{
  background-color: #FF9B29;
}

.item-ratings{
  float: left;
  font-size: 16px;
  margin-left: -10px;
}

.grid_mode .item-ratings{
  display: block;
}

.item-product{
  border-color: #ddd;
  background-color: #fff;
  color: #444;
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
}

.item-product p{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.col-35 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 35%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 35%;
  -ms-flex: 0 0 35%;
  flex: 0 0 35%;
  max-width: 35%;
}

.scroll {
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}
